.header {
    background-color: #163042;
    color: #fff;
    height: 135px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    margin: 5px 0 10px;
}